.footer {
    background: #eee4d5;
    padding: 60px 0 20px;
    font-family: "Georgia", serif;
    color: #111;
}

.footer-inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 40px 20px;
}

.footer-left h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.footer-left p {
    font-size: 15px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.footer-input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 260px;
}

.footer-input input {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

.footer-input button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.footer-right {
    display: flex;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links .col {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #111;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s ease;
}

.footer-links a:hover {
    opacity: 1;
}

/* BIG BRAND TEXT */
.footer-brand {
    text-align: center;
    margin-top: 60px;
}

.footer-brand h1 {
    font-size: 120px;
    font-weight: 400;
    letter-spacing: 4px;
}
.footer-brand img{
    height: 120px;
    object-fit: contain;
}
/* COPYRIGHT */
.footer-copy {
    text-align: right;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 14px;
    padding-right: 30px;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-inner {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        justify-content: center;
    }

    .footer-links {
        gap: 40px;
    }

    .footer-brand img {
        height: 80px;
    }
}
