footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-links h3,
.footer-social h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li,
.footer-social ul li {
    margin-bottom: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 16px;
}

.footer-links ul li a:hover,
.footer-social ul li a:hover {
    color: #ddd;
}

.footer-social ul li a i {
    font-size: 24px;
}

footer p {
    font-size: 14px;
    margin-top: 20px;
    color: #ddd;
}

@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-social ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .footer-social ul li {
        margin-right: 10px;
    }
}