/* ===============  GLOBAL AESTHETIC  =============== */
:root {
  --paper: #efe7db;
  --ink: #111;
}
body, .home {
  font-family: "Inter", serif;
  color: var(--ink);
  padding: 0;
  margin:0;
}
.icon{
    font-size:25px;
}